@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monda";
  src: url("font/Monda-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Monda";
  font-weight: bold;
  src: url("font/Monda-Bold.ttf") format("truetype");
}

:root {
  font-family: Monda;
  line-height: 1.5;
  font-weight: 400;

  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}
.overlay {
  position: absolute;
  background-color: #00000020;
  backdrop-filter: blur(25px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay--disable {
  pointer-events: none;
  background-color: transparent;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity 2s ease-in-out;
}

.loader--disappear {
  opacity: 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.logo {
  font-size: 2rem;
  letter-spacing: 0rem;
  color: #fafafa;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50vh;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;
}

.intro--disappear .logo {
  top: 0;
  transform: scale(0.25);
  transform-origin: center top;
}

.intro--disappear .spinner {
  opacity: 1;
  animation: fadeOut 1s ease-in-out forwards;
}

.intro__scroll {
  opacity: 0;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  position: absolute;
  top: 15vh;
}

.intro--disappear .intro__scroll {
  animation: fadeIn 1s ease-in-out 1.5s forwards;
}

.overlay--scrolled .intro__scroll {
  animation: fadeOut 1s ease-in-out forwards;
}

.explore {
  padding: 16px 36px;
  border: none;
  font-size: 16px;
  background-color: #fafafa;
  color: #006dd2;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  margin-top: 150px;
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
  display: flex;
  align-items: center;
  gap: 13px;
}

.explore:hover {
  color: white;
}

.explore:hover path {
  fill: white;
  transition: 0.42s ease-in-out;
}

.explore:hover:before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}

.explore path {
  fill: #006dd2;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
}

.explore:before {
  content: "";
  background: #006dd2;
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}

.intro--disappear .explore {
  animation: fadeOut 1s ease-in-out forwards;
}

.contact {
  padding: 16px 36px;
  border: none;
  background-color: #fafafa;
  color: #006dd2;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  border-radius: 32px;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
}
