@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: bold;
  src: url("../src/assets/font/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

:root {
  font-family: Poppins;
  line-height: 1.5;
  font-weight: 400;

  background-color: #688cae;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.overlay {
  position: absolute;
  background-color: #00000020;
  backdrop-filter: blur(25px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay--disable {
  background-color: transparent;
  pointer-events: none;
  backdrop-filter: none;
  transition: all 0.5s ease-in-out;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  font-size: 2rem;
  letter-spacing: 0rem;
  color: #fafafa;
  transform: translateY(-50%);
  position: absolute;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  line-height: 32px;
}

.intro--disappear .logo {
  opacity: 0;
}

.intro--disappear .spinner {
  opacity: 1;
  animation: fadeOut 1s ease-in-out forwards;
}

.intro__scroll {
  opacity: 0;
  position: absolute;
  color: white;
}

.scroll-icon {
  position: relative;
  width: 2em;
  height: 4em;
  border: 0.3em solid #fff;
  border-radius: 2em;
}

.scroll-icon.ex-1 .wheel {
  position: absolute;
  left: 50%;
  top: 15%;
  width: 0.6em;
  height: 0.6em;
  background-color: #fff;
  transform: translate(-50%, 0);
  border-radius: 0.6em;
  animation: ex-1-wheel 1s ease-in-out infinite;
}

@keyframes ex-1-wheel {
  0% {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  20%,
  70% {
    opacity: 1;
  }
  90%,
  100% {
    transform: translate(-50%, 150%);
    opacity: 0;
  }
}

.intro--disappear .intro__scroll {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  animation: fadeIn 1s ease-in-out 1.5s forwards;
}

.overlay--scrolled .intro__scroll {
  animation: fadeOut 1s ease-in-out forwards;
}

.explore {
  padding: 16px 36px;
  border: none;
  font-size: 16px;
  background-color: #fafafa;
  color: #006dd2;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  margin-top: 150px;
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
  display: flex;
  align-items: center;
  gap: 13px;
}

.explore:hover {
  color: white;
}

.explore:hover path {
  fill: white;
  transition: 0.42s ease-in-out;
}

.explore:hover:before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}

.explore path {
  fill: #006dd2;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
}

.explore:before {
  content: "";
  background: #006dd2;
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}

.intro--disappear .explore {
  opacity: 0;
  animation: fadeOut 1s ease-in-out forwards;
}

.contact {
  padding: 16px 36px;
  border: none;
  background-color: #fafafa;
  color: #006dd2;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  border-radius: 32px;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
  pointer-events: all;
}

.contact-mobile {
  padding: 16px 36px;
  border: none;
  background-color: #fafafa;
  color: #006dd2;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  border-radius: 32px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
}

.intro--disappear .contact-mobile {
  display: hidden;
  opacity: 0;
  animation: fadeOut 1s ease-in-out forwards;
}

.bg-projets {
  background-image: url("../public/fillup/iphonemockup.jpg");
  background-size: cover;
  background-position: left 50%;
}

/*

  Bottom Menu

*/

.player {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: -20px;
  border-radius: 100px;
  border: 1.4px solid rgba(255, 255, 255, 0.4);
  background: linear-gradient(rgba(80, 80, 80, 0.3), rgba(128, 128, 128, 0.3));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.player .icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.player .icons svg {
  width: 20px;
  height: 20px;
}

.player .title {
  color: #fafafa;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.player .options {
  display: flex;
  gap: 16px;
}

.player .options svg {
  width: 20px;
  height: 20px;
  display: grid;
  place-content: center;
}

/*

  Interface Radio

*/

.container {
  height: 70vh;
  width: 70vw;
  border: 1.4px solid rgba(255, 255, 255, 0.4);
  border-radius: 34px;
  background: linear-gradient(rgba(80, 80, 80, 0.3), rgba(128, 128, 128, 0.3));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background-blend-mode: luminosity;
  object-fit: cover;
  overflow: hidden;
}

.interfaceMenu {
  height: 70vh;
  width: 70vw;
}

/*

  Side Menu

*/

.menu {
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 200px;
  transform: translateY(-50%);
  gap: 12px;
  background: linear-gradient(rgba(80, 80, 80, 0.3), rgba(128, 128, 128, 0.3));
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 50px;
  padding: 4px 0;
  margin-right: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.menu .icon {
  width: 38px;
  height: 38px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #fafafa;
}

/* 

  FaceSVGAnimation.css
        
*/

.svg-container {
  width: 213px;
  height: 213px;
  position: relative;
}

.animated-svg {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.animated-svg.visible {
  opacity: 1;
  visibility: visible;
}

.animated-svg.hidden {
  opacity: 0;
  visibility: hidden;
}

/* 
  Toggle Switch Button 
  
*/

.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 42px;
  margin: 0 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(80, 80, 80, 0.3), rgba(128, 128, 128, 0.3));
  background-blend-mode: luminosity;
  backdrop-filter: blur(50px);
  transition: 0.4s;
  border-radius: 34px;
}

.switch input {
  display: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 34px;
  width: 34px;
  left: 4px;
  bottom: 4px;
  background: rgba(255, 255, 255, 0.4);
  transition: 0.4s;
  border-radius: 50px;
}

.slider svg {
  position: absolute;
  bottom: 11px;
  left: 11px;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(33px);
  background: #006dd2;
}

input:checked + .slider svg {
  transform: translateX(33px);
}

.bg-radio-menu {
  background: linear-gradient(rgba(80, 80, 80, 0.3), rgba(128, 128, 128, 0.3));
}

.bg-radio-input {
  background: linear-gradient(rgba(80, 80, 80, 0.3), rgba(128, 128, 128, 0.3));
  backdrop-filter: blur(100px);
}

.btn-projets {
  padding: 16px 36px;
  width: fit-content;
  border: none;
  font-size: 16px;
  background-color: #fafafa;
  color: #006dd2;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  margin-top: 16px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
  display: flex;
  align-items: center;
  gap: 13px;
}

.btn-projets:hover {
  color: white;
  background-color: #006dd2;
}

.btn-projets:hover path {
  fill: white;
  transition: 0.42s ease-in-out;
}

.btn-projets:hover:before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}

.btn-projets path {
  fill: #006dd2;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
}

.btn-projets:before {
  content: "";
  background: #006dd2;
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}

/* phone */
@media (max-width: 600px) {
  .container {
    height: 70vh;
    width: 90vw;
  }

  .bg-projets {
    background-image: url("../public/fillup/iphonemockup2.jpeg");
    background-position: right 40%;
  }

  .btn-projets {
    padding: 12px 30px;
  }

  .explore {
    padding: 12px 30px;
    font-size: 16px;
  }

  .contact-mobile {
    padding: 12px 30px;
    font-size: 16px;
  }

  .logo {
    font-size: 1.75rem;
  }

  .intro__scroll {
    font-size: 14px;
  }

  .btn-projets {
    padding: 12px 30px;
    font-size: 14px;
  }
}

/* phone + tablet */
@media (max-width: 998px) {
  .contact {
    padding: 12px 30px;
    font-size: 14px;
  }
}

/* tablet */
@media screen and (min-width: 600px) and (max-width: 992px) {
  .container {
    height: 80vh;
    width: 90vw;
  }

  .bg-projets {
    background-image: url("../public/fillup/iphonemockup2.jpeg");
    background-position: right 80%;
  }

  .explore {
    margin-top: 350px;
  }
}
