@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monda";
  src: url("../src/assets/font/Monda-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Monda";
  font-weight: bold;
  src: url("../src/assets/font/Monda-Bold.ttf") format("truetype");
}

:root {
  font-family: Monda;
  line-height: 1.5;
  font-weight: 400;

  background-color: #688cae;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.overlay {
  position: absolute;
  background-color: #00000020;
  backdrop-filter: blur(25px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
}

.overlay--disable {
  pointer-events: none;
  background-color: transparent;
  backdrop-filter: none;
  transition: all 0.5s ease-in-out;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity 2s ease-in-out;
}

.loader--disappear {
  opacity: 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  font-size: 2rem;
  letter-spacing: 0rem;
  color: #fafafa;
  transform: translateY(-50%);
  position: absolute;
  /* top: 50vh; */
  animation: fadeUp 2.4s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  line-height: 32px;
}

.intro--disappear .logo {
  opacity: 0;
}

.intro--disappear .spinner {
  opacity: 1;
  animation: fadeOut 1s ease-in-out forwards;
}

.intro__scroll {
  opacity: 0;
  position: absolute;
  color: white;
}

.scroll-icon {
  position: relative;
  width: 2em;
  height: 4em;
  border: 0.3em solid #fff;
  border-radius: 2em;
}

.scroll-icon.ex-1 .wheel {
  position: absolute;
  left: 50%;
  top: 15%;
  width: 0.6em;
  height: 0.6em;
  background-color: #fff;
  transform: translate(-50%, 0);
  border-radius: 0.6em;
  animation: ex-1-wheel 1s ease-in-out infinite;
}
@keyframes ex-1-wheel {
  0% {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  20%,
  70% {
    opacity: 1;
  }
  90%,
  100% {
    transform: translate(-50%, 150%);
    opacity: 0;
  }
}

.intro--disappear .intro__scroll {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  animation: fadeIn 1s ease-in-out 1.5s forwards;
}

.overlay--scrolled .intro__scroll {
  animation: fadeOut 1s ease-in-out forwards;
}

.explore {
  padding: 16px 36px;
  border: none;
  font-size: 16px;
  background-color: #fafafa;
  color: #006dd2;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  margin-top: 150px;
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
  display: flex;
  align-items: center;
  gap: 13px;
}

.explore:hover {
  color: white;
}

.explore:hover path {
  fill: white;
  transition: 0.42s ease-in-out;
}

.explore:hover:before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}

.explore path {
  fill: #006dd2;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
}

.explore:before {
  content: "";
  background: #006dd2;
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}

.intro--disappear .explore {
  opacity: 0;
  animation: fadeOut 1s ease-in-out forwards;
}

.contact {
  padding: 16px 36px;
  border: none;
  background-color: #fafafa;
  color: #006dd2;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  border-radius: 32px;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
}

.contact-mobile {
  padding: 16px 36px;
  border: none;
  background-color: #fafafa;
  color: #006dd2;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  border-radius: 32px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
}

.intro--disappear .contact-mobile {
  display: hidden;
  opacity: 0;
  animation: fadeOut 1s ease-in-out forwards;
}

.htmlScreen iframe {
  width: 1024px;
  height: 670px;
}
